extends ../layouts/default

block content
    form.form-horizontal(role='form' method='post' action='/admin/users/save')
        div.form-group
            label.col-sm-2.control-label 用户组
            div.col-sm-10
                select.form-control(name="user_type")
                    if model
                        case model.user_type
                            when 'user'
                                option(value="user" selected) 会员
                                option(value="admin") 管理员
                            default
                                option(value="admin" selected) 管理员
                                option(value="user") 会员
                    else
                        option(value="admin") 管理员
                        option(value="user") 会员
        div.form-group
            label.col-sm-2.control-label 用户名
            div.col-sm-10
                if model
                    input.form-control(type="text" name="username" placeholder="用户名" value='#{model.username}' required)
                else
                    input.form-control(type="text" name="username" placeholder="用户名" value='' required)
        div.form-group
            label.col-sm-2.control-label Email
            div.col-sm-10
                if model
                    input.form-control(type="text" name="email" placeholder="Email" value='#{model.email}' required)
                else
                    input.form-control(type="text" name="email" placeholder="Email" value='' required)
        div.form-group
            label.col-sm-2.control-label 密码
            div.col-sm-10
                if model
                    input.form-control(type="text" name="password" placeholder="密码")
                else
                    input.form-control(type="text" name="password" placeholder="密码" required)
        div.form-group
            label.col-sm-2.control-label 昵称
            div.col-sm-10
                if model
                    input.form-control(type="text" name="nickname" placeholder="昵称" value='#{model.nickname}' required)
                else
                    input.form-control(type="text" name="nickname" placeholder="昵称" value='')
        div.form-group
            label.col-sm-2.control-label 电话
            div.col-sm-10
                if model
                    input.form-control(type="text" name="phone" placeholder="电话" value='#{model.phone}')
                else
                    input.form-control(type="text" name="phone" placeholder="电话" value='')
        div.form-group
            label.col-sm-2.control-label 状态
            div.col-sm-10
                if model
                    if model.isban
                        label.radio-inline
                            input(type="radio" name="isban" value="true" checked)
                            | 禁用
                        label.radio-inline
                            input(type="radio" name="isban" value="false")
                            | 激活
                    else
                        label.radio-inline
                            input(type="radio" name="isban" value="true")
                            | 禁用
                        label.radio-inline
                            input(type="radio" name="isban" value="false" checked)
                            | 激活
                else
                    label.radio-inline
                        input(type="radio" name="isban" value="true")
                        | 禁用
                    label.radio-inline
                        input(type="radio" name="isban" value="false"  checked)
                        | 激活
        div.form-group
            div.col-sm-offset-2.col-sm-10
                button.btn.btn-success 保存
                if model
                    input(type="hidden" name="id" value='#{model._id}')
