extends ../layouts/default

block content
    div.row
        div.col-md-12
            a.btn.btn-success(href='/admin/users/add') 新增
    table.table
        thead
            th #
            th 用户名
            th email
            th 昵称
            th phone
            th 登录方式
            th 状态
            th 操作
        tbody
            each item,index in list
                tr
                    td= index+1
                    td= item.username
                    td= item.email
                    td= item.nickname
                    td= item.phone
                    td= item.provider
                    td
                        if item.isban
                            | 禁用
                        else
                            | 激活
                    td
                        .btn-group
                            a.btn.btn-info(href='/admin/users/edit/#{item._id}') 改
                            a.btn.btn-danger(href='/admin/users/delete/#{item._id}') 删
