<!DOCTYPE html>
<html lang="zh">
<head>
<%- include('../includes/head') -%>
</head>
<%- include('../includes/body') -%>

<%- include('../includes/nav') -%>

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <h2>欢迎使用后台管理系统</h2>
        </div>
    </div>
    <%- include('../includes/foot') -%>
</div>
<%- include('../includes/end') -%>
