<!DOCTYPE html>
<html lang="zh">
<head>
<%- include('./includes/head', {title: error}) -%>
</head>
<%- include('./includes/body') -%>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">            
                <div class="well">
                    <h2><%= message %></h2>
                    <div class="alert alert-error">
                        <%= error %>
                    </div>
                </div>
                <div class="alert alert-warning">                
                    <a href="javascript:history.go(-1)">
                        <span id="time">10</span>秒后 返回
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(function(){
    var delaySec = parseInt($("#time").text());
    function show() {
        console.log(delaySec);
        if(delaySec > 0) {
            delaySec--;
            $("#time").text(delaySec);
        } else {
            //以后用session
            history.go(-1);
        }
    }
    setInterval(show, 1000);
});
</script>
<%- include('./includes/end') -%>
